In [3]:
import pandas as pd


header_list = ['id', 'firstname', 'lastname', 'hand', 'date', 'country']
data = pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_players.csv', 
                    names=header_list)
data.to_csv('data.csv', index=False)

In [6]:
data = pd.read_csv('data.csv')
data

           id       firstname     lastname hand        date country
0      100001         Gardnar       Mulloy    R  19131122.0     USA
1      100002          Pancho       Segura    R  19210620.0     ECU
2      100003           Frank      Sedgman    R  19271002.0     AUS
3      100004        Giuseppe        Merlo    R  19271011.0     ITA
4      100005  Richard Pancho     Gonzales    R  19280509.0     USA
...       ...             ...          ...  ...         ...     ...
55103  210069           James        Edley    U         NaN     ZAF
55104  210070       Guney Ege        Cetin    U         NaN     TUR
55105  210071           Anton      Semenov    U         NaN     RUS
55106  210072           Artem  Podorozhnyi    U         NaN     UKR
55107  210073          German    Samofalov    U         NaN     UKR

[55108 rows x 6 columns]

In [10]:
import requests as rq
import time

def search_url(firstname, lastname):
    time.sleep(0.5)
    r = rq.get(f'https://en.wikipedia.org/w/api.php?action=opensearch&format=json&formatversion=2&search={firstname} {lastname}')
    dict_ = r.json()
    url = dict_[3][0]
    return url

for index, row in data.head(20).iterrows():
    data.at[index, 'wiki_url'] = search_url(row['firstname'], row['lastname'])

In [17]:
data.to_csv('data_with_url.csv', index=False)

In [13]:
data.head(5)

,id,firstname,lastname,hand,date,country,wiki_url
0,100001,Gardnar,Mulloy,R,19131122.0,USA,https://en.wikipedia.org/wiki/Gardnar_Mulloy
1,100002,Pancho,Segura,R,19210620.0,ECU,https://en.wikipedia.org/wiki/Pancho_Segura
2,100003,Frank,Sedgman,R,19271002.0,AUS,https://en.wikipedia.org/wiki/Frank_Sedgman
3,100004,Giuseppe,Merlo,R,19271011.0,ITA,https://en.wikipedia.org/wiki/Giuseppe_Merlo
4,100005,Richard Pancho,Gonzales,R,19280509.0,USA,https://en.wikipedia.org/wiki/Richard_Pancho_G...

In [16]:
wiki_url_list = list(data['wiki_url'].head(20))
wiki_url_list

['https://en.wikipedia.org/wiki/Gardnar_Mulloy',
 'https://en.wikipedia.org/wiki/Pancho_Segura',
 'https://en.wikipedia.org/wiki/Frank_Sedgman',
 'https://en.wikipedia.org/wiki/Giuseppe_Merlo',
 'https://en.wikipedia.org/wiki/Richard_Pancho_Gonzales',
 'https://en.wikipedia.org/wiki/Grant_Golden',
 'https://en.wikipedia.org/wiki/Abe_Segal',
 'https://en.wikipedia.org/wiki/Kurt_Nielsen',
 'https://en.wikipedia.org/wiki/Istvan_Gulyas',
 'https://en.wikipedia.org/wiki/Luis_Ayala',
 'https://en.wikipedia.org/wiki/Torben_Ulrich',
 'https://en.wikipedia.org/wiki/Nicola_Pietrangeli',
 'https://en.wikipedia.org/wiki/Neale_Fraser',
 'https://en.wikipedia.org/wiki/Trevor_Fancutt',
 'https://en.wikipedia.org/wiki/Sammy_Giammalva_Jr.',
 'https://en.wikipedia.org/wiki/Ken_Rosewall',
 'https://en.wikipedia.org/wiki/Mal_Anderson',
 'https://en.wikipedia.org/wiki/Barry_MacKay',
 'https://en.wikipedia.org/wiki/Wieslaw_Gasiorek',
 'https://en.wikipedia.org/wiki/Alejandro_Olmedo']

In [18]:
type(wiki_url_list)

list